apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: rabbitmq-system
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/component: messaging
spec:
  type: NodePort
  ports:
  - port: 5672
    targetPort: 5672
    nodePort: 30672
    protocol: TCP
    name: amqp
  - port: 15672
    targetPort: 15672
    nodePort: 31672
    protocol: TCP
    name: management
  - port: 15692
    targetPort: 15692
    nodePort: 31692
    protocol: TCP
    name: prometheus
  selector:
    app.kubernetes.io/name: rabbitmq
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-headless
  namespace: rabbitmq-system
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/component: messaging
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 5672
    targetPort: 5672
    protocol: TCP
    name: amqp
  - port: 15672
    targetPort: 15672
    protocol: TCP
    name: management
  - port: 15692
    targetPort: 15692
    protocol: TCP
    name: prometheus
  selector:
    app.kubernetes.io/name: rabbitmq










